body{
  font-family: "Montserrat;"
  padding:5% 40%;
  background-color:#333;
}

#titlee{
  background-color: white;

  padding:0% 10% ;

}
p{
color:#8f8f8f

}

h1{
  font-family:" Montserrat-black";
  font-size: 3rem;
  line-height: 1.5;
}
h5{
font-family:"Monteserrat-Bold";
font-size:5px;
}
.container-fluid{
  padding: 0% 10% 3% 10%;
  background-color:white;
}

/* navigation styling */
.navbar{

}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}
.navbar{
padding:0%
}

/* download buttons */
.download-buttons{
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
}
.account-img{
    max-width:28px;
    max-height:32px;
}
#features{
  padding: 5% 10%;
 text-align:center;
}
.icon{
margin-bottom:1px;
}
.tiles{
margin-bottom:10px;
padding:0;
}
.top{
margin-bottom:0px;
padding:12px 15px;

}
#testimonials{
padding:5% 10%;
background-color:#333;
}
.logos{
padding:5% 10%;
}
.drop{
max-width:60%;
padding-left:5px;
font-family:"Monteserrat-Black";
}
.pad{
margin-top:10px;
}